.NoteCard {
    width: 216px;
    height: 216px;
    margin-top: 15px;
    margin-right: 25px;
    overflow: hidden;
}

.NoteCardList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}